body {
    background: #4568DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4568DC , #B06AB3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4568DC , #B06AB3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#box {
    position: relative;
    background: white;
    opacity: 0.8;
    width: 750px;
    height: 400px;
    margin: auto;
    font-family: Helvetica;
    margin-top: 150px;
    border-radius: 6px;
}

#title {
    padding-top: 80px;
    margin: 40px;
    text-align: center;
    color: black;
    font-size:70px;
    font-style: oblique;
    font-weight: bold;
}

button {
    position: absolute;
    top: 280px;
    background-color: #666666;
    width: 200px;
    height: 65px;
    border-radius: 6px;
    font-size:30px;
    color: white;
}

#create_room_button {
    left: 150px;
}

#join_room_button {
    right: 150px;
}

#username_input {
    border: 2px solid #666666;
    border-radius: 4px;
    padding: 3px;
}

#room_prompt {
    margin: auto;
    color: #666666;
    text-align: center;
    font-size: 24px;
}