<!DOCTYPE html>
<html>
<head>
    <title>Soundcloud Visualizer by Michael Bromley</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="info">
    Soundcloud visualizer: a canvas and webaudio API experiment by <a href="http://www.michaelbromley.co.uk">Michael Bromley</a>.<br>
    For more information, visit the project's <a href="https://github.com/michaelbromley/soundcloud-visualizer">Github page</a><br><br>
    <b>Instructions</b><br>
    Paste the URL of a Soundcloud track or playlist into form and press enter.<br><br>
    <b>Example track:</b> https://soundcloud.com/manchesterorchestra/simple-math<br>
    <b>Example playlist:</b> https://soundcloud.com/manchesterorchestra/sets/simple-math-album-stream<br><br>
    <b>Controls</b><br>
    <b>space bar</b> - toggle play/pause<br>
    <b>right/left arrow</b> - skip forward/backwards through playlist<br>
</div>

<div id="visualizer"></div>

<div id="controlPanel" class="hidden">
    <div id="tab"><a href="#" id="toggleButton"><i class="icon-menu"></i></a></div>
    <div id="trackInfoPanel" class="hidden">
        <img id="infoImage" src="">
        <div id="infoArtist"></div>
        <div id="infoTrack"></div>
    </div>
    <div id="playerControls">
        <form id="form">
            <input id="input" placeholder="Paste MP3 URL here">
            <button type="submit" id="submit"><i class="icon-play"></i></button><br>
        </form>
        <audio id="player" preload autobuffer></audio>
    </div>
</div>

<div id="messageBox" class="hidden">
</div>

<footer>
    <a href="#" id="credit"> <i class="icon-info"></i> About</a>
    <span id="github"><a href="https://github.com/michaelbromley/soundcloud-visualizer"><i class="icon-github"></i> Source on Github</a></span>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.4.0/jsmediatags.min.js"></script>
<script src="//connect.soundcloud.com/sdk.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
var loadAndUpdate;
<script type="text/javascript">
    var setupSync = function(audio) {
      var peer = new Peer({key: 'oq5i0km415ze61or'});
      var getDelay = function() {
        return new Promise(function(resolve, reject) {
          var timehost = peer.connect('time_{{room}}');
          var sum = 0, n = 0;
          timehost.on('error', err => {
            reject(err);
          });
          timehost.on('open', () => {
            timehost.send("ready");
          })
          timehost.on('data', data => {
            n++;
            sum += (data - window.performance.now());
            if (n == 5) {
              timehost.close();
              resolve(sum / n);
            }
          });
          setTimeout(() => reject("Delay calculation timed out"), 5000);
        });
      }
      getDelay().then(delay => {
        console.log(delay)
        setInterval(() => getDelay().then(d => {
          delay = d;
          console.log("updated delay: " + delay);
        }), 5000);
        var host = peer.connect('host_{{room}}');
        host.on('data', msg => {
          if (msg.type == "pause") {
            audio.pause();
          } else if (msg.type == "play") {
            if (audio.src != msg.src) {
              loadAndUpdate(msg.src);
              audio.pause();
              return; // try again later after buffering
            }
            var lag = Math.max(0, (msg.curTime - window.performance.now() -
                  delay)/2000);
            console.log("measured lag: " + lag)
            console.log("seeking to " + (msg.time + lag));
            audio.currentTime = msg.time + lag;
            audio.play();
          } else if (msg.type == "update") {
            if (audio.src != msg.src) {
              loadAndUpdate(msg.src);
              audio.pause();
              return; // try again later after buffering
            }
            var lag = Math.max(0, (msg.curTime - window.performance.now() -
                  delay)/2000);
            if (Math.abs(audio.currentTime - (msg.time + lag)) > .10) {
              console.log("updating because behind by: " + 
                  (Math.abs(audio.currentTime - (msg.time + lag))));
              console.log("measured lag: " + lag)
              console.log("updating to " + (msg.time + lag + .04));
              audio.currentTime = msg.time + lag + .04;
              if (audio.paused) audio.play();
              console.log("updated");
            }
          }
        });
      }, alert);
    }
</script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
