<!DOCTYPE html>
<html>
<head>
	<title>inSync</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
<div id="box">

	<div id="title">INSYNC</div><br>

		<div id="room_prompt">Room Name: <input id="username_input"></input></div>

		<button type="submit" id="create_room_button">Create</button><br>
		<button type="submit" id="join_room_button">Join</button><br>

</div>
<script type="text/javascript">

    document.getElementById('create_room_button').onclick = function(e) {
        e.preventDefault();
        var createClient = document.getElementById('username_input').value;
        if (createClient) {
            window.location = window.location.origin + '/host/' + createClient;
        } else {
            alert("Please enter a room name.");
        }
    };

    document.getElementById('join_room_button').onclick = function(e) {
        e.preventDefault();
        var createClient = document.getElementById('username_input').value;
        console.log(createClient);
        if (createClient) {
            window.location = window.location.origin + '/' + createClient;
        } else {
            alert("Please enter a room name.");
        }
    };

</script>
</body>
</html>